<section class="hero is-dark">
 	<div class="hero-body">
		

    	<div class="container">
      		<h1 class="title">
        		The Atlantic News Scraper
      		</h1>
      		<h2 class="subtitle">
        		Scrape articles. 
        		<br>Leave comments. 
        		<br>Profit. 
        		<br>Repeat.  
      		</h2>
    	</div>
		<br>
		{{!-- Scrape Button --}}
	  	<button class="button is-primary is-pulled-right" id="scrape">Scrape</button>
  	</div>
</section>

{{!-- scrape success notification --}}
<div class="notification is-success scrape-success">
  New articles scraped!
  {{!-- TODO: show how many articles were scraped --}}
  <a href="/">
  	<button class="button is-pulled-right refresh">OK</button>
  </a>
</div>

{{!-- scrape fail notification --}}
<div class="notification is-warning scrape-fail">
  No new articles to scrape.
  <a href="/">
  	<button class="button is-pulled-right refresh">OK</button>
  </a>
</div>

{{!-- Comment Modal --}}
<div class="modal comments-modal">
	<div class="modal-background"></div>
	<div class="modal-card">
    
	    <section class="modal-card-body">
	      	<div class="container" id="comments-container">
				
				{{!-- TODO: show when comment was posted --}}
				
			</div>
			<form id="comment-form">
				<label for="textarea" class="text-muted">Comment</label>
				<textarea class="textarea" rows="3" id="comment_body"></textarea>
				<button type="submit" class="button is-primary post-comment">Submit</button>
			</form>
	    </section>
    
  	</div>
	
	<button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="container" id="articles-container">
	{{#each results}}
		<h3 class="article-category text-muted">{{this.category}}</h3>
		<h2 class="is-large">
			<p><strong>{{this.title}}</strong></p>
		</h2>
		<p>{{this.summary}}</p>

		<a href={{this.link}} target="_blank">
			<button class="button is-primary is-pulled-right">
			See Full Article</button>
		</a>

		<a class="toggle-comments" data-id= {{this._id}}> 
			<i class="fa fa-comment-o" aria-hidden="true"></i>
        </a>

        <hr>
	{{/each}}
</div